.header {
    background-color: transparent;
    padding: 20px;
    color: #431c52;
    position: fixed;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    z-index:  1000;
    top: 0;
}